.mui-table-view .mui-media-object {
	max-width: 30px;
	height: 30px;
}
#face {
	border-radius: 100%;
	border: 0.5px solid #D8D8D8;
}
.mui-icon {
	margin-right: 10px;
}
.mui-icon-locked {
	color: red;
}
.mui-icon-phone {
	color: orange;
}
.icon-weixin {
	color: #61C418;
	margin-right: 10px;
	font-size: 24px;
}
#quit_app>a {
	text-align: center;
	color: #FF3B30;
}
#cropper-example-1 {
	background-color: #000000;
	height: 93%;
	min-width: 100%;
	position: absolute;
}
#quxiao,
#xuanzhuan,
#xuanqu {
	font-size: 20px;
}
.divbut {
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 2;
	bottom: 0px;
	background-color: #000000;
	height: 7.5%;
	line-height: 50px;
}
.divbut>div:first-child {
	float: left;
	width: 20%;
}
.divbut>div:last-child {
	float: right;
	width: 20%;
}
#span1 {
	color: #888888;
	float: right;
	-webkit-transform: translate(-5px, 8px);
	display: none;
}
#userid {
	width: 300px;
	margin-top: -2px;
}
.golinks_d_div1 {
	margin-top: 20px;
}
.mui-input-row {
	height: 40px;
	padding-top: 2px;
}
.label_i {
	font-size: 16px;
}
.span_x {
	color: red;
}
#rule_form {
	float: left;
	margin-top: 1.5%;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 16px;
}
#initgrade {
	float: right;
}
#ddiv {
	text-align: center;
	height: 50%;
	width: auto;
}
#upload-img {
	height: auto;
	width: 90%
}
.trform {
	height: 40px;
}
.th_f1 {
	background-color: #D8F0F4;
	width: 25%;
}
.th_f2 {
	background-color: #C8C7CC;
	width: 25%;
}
.th_f3 {
	background-color: #DFDFDF;
}
#select_grade {
	display: none;
	background-color: white;
	height: 50px;
}
#duanwei {
	margin-top: 5px;
	float: left;
}
.label_d {
	margin-top: 5px;
}
.label2 {
	margin-top: 8px;
	color: #000000;
	padding-left: 0px;
}
.table1 {
	background-color: #389FDF;
	border-color: white;
}
#disc {
	text-align: center;
	margin-top: 10px;
}
#bith {
	font-size: 18px;
}
#age1 {
	font-size: 20px;
}
.mui-bar-nav {
	box-shadow: none;
}
.golinks_d_p {
	color: red;
	display: none;
}
.mui-icon-checkmarkempty:before {
	border-radius: 100%;
	background-color: #2AC845;
}
#re_send {
	background-color: #007aff;
	border-color: #007aff;
	color: whitesmoke;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.con {
	padding: 5px 0;
	margin-top: 20px;
	width: 3rem;
	margin: 0.1rem;
}
#span3,
#span4 {
	color: #888888;
	float: right;
	-webkit-transform: translate(-120px, 8px);
	display: none;
}
#discr {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
}
.mui-table-view-cell {
	background-color: white;
	border: #0145A5;
}
.mui-icon-compose {
	font-size: 25px;
	padding-top: 10px;
}
.divl {
	margin-left: 40px;
	margin-top: -32px;
}
